<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.il.appshortcut"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.il.appshortcut.config.AppShortcutApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.il.appshortcut.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.il.appshortcut.ManageAppListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.permission.CAMERA" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.il.appshortcut.ManageApplicationActivity"
            android:label="@string/app_name" >
            <action android:name="android.permission.CAMERA" />
        </activity>

        <receiver android:name="com.il.appshortcut.widgets.AppShortcutLauncherWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_appshortcut_launcher" />
        </receiver>
        <receiver android:name="com.il.appshortcut.widgets.AppShortcutLauncherWidgetReceiver" >
            <intent-filter>
                <action android:name="com.il.appshortcut.intent.action.LEFT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.il.appshortcut.intent.action.DOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.il.appshortcut.intent.action.RIGTH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.il.appshortcut.intent.action.UP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.il.appshortcut.intent.action.CLEAR" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_appshortcut_launcher" />
        </receiver>

        <activity
            android:name="com.il.appshortcut.ProxyActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_proxy" >
        </activity>
        <activity
            android:name="com.il.appshortcut.ManageAcivitiesListActivity"
            android:label="@string/title_activity_manage_acivities_list" >
        </activity>
    </application>

</manifest>